//系统样式
$system-color: #6BA6F5;
$system-color-background-gray: #F0F0F0;
$system-color-background-gray-deep: #EBEBEB;
$system-orange: #FFC14C;
$system-green: #0AEE00;

$system-scrollbar-color: #DBDBDB;

$system-color-text-gray: #777777;
$system-color-text-blue: #4E83B6;
//布局样式
$aside-color-default: #296797;
$aside-color-choosed: #3D83BA;
$aside-width: 450px;
$aside-expand-width:140px;

$ahead-height: 100px;

$chatroom-userList-width: 460px;
$chatroom-background-color: #F3F4F5;
$chatroom-title-height: 100px;
$chatroom-user-background-color: #E1E3E5;
$chatroom-user-state-color: #BEBFC0;
$chatroom-content-color: #777777;

$message-other-background-color: #ffffff;
$message-background-color: #CEE6FD;

$toolbar-height: 50px;

$workbar-tagbar-height:80px;
$workbar-tag-height:59px;



//属性样式
$logo-height:150px;
$logo-icon-size: 100px;
$logo-font-size: 46px;
$logo-color:#ffffff;

$font-size-normal: 28px;
$font-size-small: 22px;
$font-size-smaller: 16px;
$font-size-large: 36px;
$font-size-larger: 48px;
$font-size-largest: 78px;

$font-weight-default:600;
$font-weight-bold:700;

$font-color: #ffffff;
$font-gray-white: #E5F1FF;
$font-blue-deep: #296797;

$radios-default: 20px;
$radios-15: 15px;
$radios-10: 10px;

$letter-space-normal: 5px;
$letter-space-large:10px;

$border-default: 2px solid #DBDBDB;

//元素样式
$div-user-name: 120px;
$div-user-name-font-size: 40px;

$avatar-img:162px;


